<section class="OrderDetailsSec  px-3 py-2">

    <div class="sideAlert">
        {{sideMessage}}
    </div>
    <div class="overLay" *ngIf="load">
        <div class="d-flex w-100 h-100 justify-content-center align-items-center">
            <i class="fa fa-spinner fa-5x fa-spin text-light"></i>
        </div>
    </div>


    <div class="my-1">
        <form [formGroup]="addProductForm" (ngSubmit)="addProductForm.valid && handelAddProduct()">
            <div class="row pe-5 ">
                <div class="col-12 mb-1">
                    <div class="row">
                        <div class="col-lg-4  mt-1  mb-2">
                            <div class="px-2 py-1">
                                <div class="px-2 py-2 w-100 text-center uploadParent">
                                    <div class="uploadDiv p-2 text-center">
                                        <i class="fa fa-file fa-3x"></i>

                                        <p>
                                            {{dir=='ltr'?'Attach image here to start uploading':'قم باختيار الصوره
                                            المناسبه للبدء في تحميلها '}}
                                        </p>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <p class="p11 me-1"></p>
                                            <p>{{dir=='ltr'?'Or':'او'}}</p>
                                            <p class="ms-1 p11"></p>
                                        </div>
                                        <label for="uploadImage" class="btn btn-primary browseFile px-2 py-1">
                                            {{dir=='ltr'?' Browse file' :'اختيار الملف'}}
                                        </label>
                                        <input formControlName="image" class="d-none" multiple type="file"
                                            id="uploadImage" (change)="selectImage($event)">

                                        <div *ngIf="addProductForm.controls['image'].errors && addProductForm.controls['image'].touched"
                                            class=" my-1 xx">

                                            <p class="formError">
                                                {{dir=='ltr'?'In-valid product image' :'ملف خاطئ'}}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8"></div>
                        <div *ngFor="let image of selectedImages ; index as i" class="col-4  mb-2">
                            <div class="px-2 py-2 displayImageCont">
                                <div class="text-end trashSection">
                                    <i class="fa fa-trash text-danger" (click)="removeImage(i)"></i>
                                </div>
                                <div class="px-2 py-1 w-100 text-center uploadParent">
                                    <img class="" [src]="image" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 mb-1">
                    <div class="px-2 py-1">
                        <div>
                            <p>
                                {{dir=='ltr'?' Product Name(Arabic)' :'اسم المنتج (عربي) '}}
                            </p>
                            <div class="form-group">
                                <input type="text" formControlName="productName" class="form-control" />

                                <div *ngIf="addProductForm.controls['productName'].errors && addProductForm.controls['productName'].touched"
                                    class=" my-1 xx">
                                    <p class="formError">
                                        {{dir=='ltr'?'In-valid product name' :'خطاء'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-1">
                    <div class="px-2 py-1">
                        <div>

                            <p> {{dir=='ltr'?' Product Name(English)' :'اسم المنتج (الانجليزيه) '}} </p>
                            <div class="form-group">
                                <input type="text" formControlName="productNameEn" class="form-control" />

                                <div *ngIf="addProductForm.controls['productNameEn'].errors && addProductForm.controls['productNameEn'].touched"
                                    class=" my-1 xx">

                                    <p class="formError"> {{dir=='ltr'?'In-valid product name' :'خطاء'}} </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 mb-1">
                    <div class="px-2 py-1">
                        <div>
                            <p> {{dir=='ltr'?' Product price' :'سعر المنتج'}}</p>
                            <div class="form-group">
                                <input type="number" min="1" formControlName="oldPrice" class="form-control" />

                                <div *ngIf="addProductForm.controls['oldPrice'].errors && addProductForm.controls['oldPrice'].touched"
                                    class="my-1 xx">
                                    <p class="formError"> {{dir=='ltr'?'In-valid product price' :'خطاء'}} </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 mb-1">
                    <div class="px-2 py-1">
                        <div>
                            <p> {{dir=='ltr'?'Product price(discount)' :'سعر المنتج'+'(خصم)'}}</p>

                            <div class="form-group">
                                <input type="number" min="1" formControlName="defaultPrice" class="form-control" />

                                <div *ngIf="addProductForm.controls['defaultPrice'].errors && addProductForm.controls['defaultPrice'].touched"
                                    class=" my-1 xx">
                                    <p class="formError"> {{dir=='ltr'?'In-valid product discount' :'خطاء'}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 mb-1">
                    <div class="px-2 py-1">
                        <div>
                            <p> {{dir=='ltr'?'Product Description(Arabic)' :'وصف المنتج (عربي)'}}</p>

                            <div class="form-group">
                                <textarea formControlName="productDescription" class="form-control" name="" id=""
                                    cols="30" rows="1"></textarea>

                                <div *ngIf="addProductForm.controls['productDescription'].errors && addProductForm.controls['productDescription'].touched"
                                    class=" my-1 xx">
                                    <p class="formError"> {{dir=='ltr'?'In-valid product description' :'خطاء'}} </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-1">
                    <div class="px-2 py-1">
                        <div>
                            <p> {{dir=='ltr'?'Product Description(English)' :'وصف المنتج (الانجليزيه)'}}</p>
                            <div class="form-group">
                                <textarea formControlName="productDescriptionEn" class="form-control" name="" id=""
                                    cols="30" rows="1"></textarea>

                                <div *ngIf="addProductForm.controls['productDescriptionEn'].errors && addProductForm.controls['productDescriptionEn'].touched"
                                    class=" my-1 xx">
                                    <p class="formError"> {{dir=='ltr'?'In-valid product description' :'خطاء'}} </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-6 my-2">
                    <div class="p-2">
                        <p>Inventory Name</p>
                        <div class="form-group">
                            <input formControlName="InventoryName" type="text" class="form-control p-2" name="">
                            <div *ngIf="addProductForm.controls['InventoryName'].errors && addProductForm.controls['InventoryName'].touched"
                                class="text-center my-1 xx">
                                <p>In-valid Inventory name</p>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="col-6 mb-1">
                    <div class="px-2 py-1">
                        <p> {{dir=='ltr'?'Product amount' :'الكميه'}}</p>
                        <div class="form-group">
                            <input type="number" min="1" formControlName="amount" class="form-control" />
                            <div *ngIf="addProductForm.controls['amount'].errors && addProductForm.controls['amount'].touched"
                                class=" my-1 xx">
                                <p class="formError"> {{dir=='ltr'?'In-valid product amount' :'خطاء'}} </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-1">
                    <div class="px-2 py-1">
                        <div>
                            <p> {{dir=='ltr'?'Brand' :'علامه التجاريه'}}</p>

                            <div class="form-group my-1">
                                <select formControlName="brand" class="form-select p-1 text-start"
                                    aria-label="Default select example">
                                    <option *ngFor="let brand of brandList ;  index as i" [value]="brand.id"
                                        [selected]="i==0">
                                        {{dir=='ltr'?brand.nameEn :brand.name}}</option>
                                </select>
                                <div *ngIf="addProductForm.controls['brand'].errors && addProductForm.controls['brand'].touched"
                                    class=" my-1 xx">
                                    <p class="formError"> {{dir=='ltr'?'In-valid product brand' :'خطاء'}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-1">
                    <div class="px-2 py-1">
                        <div>
                            <p> {{dir=='ltr'?'Category' :'الفئه'}}</p>

                            <div class="form-group">
                                <select id="subVal" (change)="getSubCategory('')" formControlName="category"
                                    class="form-select p-2 text-start" aria-label="Default select example">
                                    <option *ngFor="let category of categoryList ;  index as i" [value]="category.id"
                                        [selected]=" i== 0">
                                        {{dir=='ltr'?category.nameEn:category.name}}</option>
                                </select>

                                <div *ngIf="addProductForm.controls['category'].errors && addProductForm.controls['category'].touched"
                                    class=" my-1 xx">
                                    <p class="formError"> {{dir=='ltr'?'In-valid category ' :'خطاء'}} </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="subcategoryList.length" class="col-md-6 mb-1">
                    <div class="px-2 py-1">
                        <div>
                            <p> {{dir=='ltr'?'Subcategory' :'الفئه الفرعيه'}}</p>

                            <div class="form-group">
                                <select formControlName="subcategory" class="form-select p-2 text-start"
                                    aria-label="Default select example">
                                    <option *ngFor="let subcategory of subcategoryList ;  index as i"
                                        [value]="subcategory.id" [selected]=" i== 0">
                                        {{dir=='ltr'?subcategory.nameEn:subcategory.name}}</option>
                                </select>

                                <div *ngIf="addProductForm.controls['subcategory'].errors && addProductForm.controls['subcategory'].touched"
                                    class=" my-1 xx">
                                    <p class="formError"> {{dir=='ltr'?'In-valid subcategory ' :'خطاء'}} </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-1">
                    <div class="px-2 py-1">
                        <div>
                            <p> {{dir=='ltr'?'Product options' :'خيارات'}}</p>

                            <p-multiSelect display="chip" [optionLabel]="displayOptionsName"
                                optionGroupLabel="groupName" optionGroupChildren="data" [options]="optionsGroups"
                                [group]="true" formControlName="productOptions"
                                [style]="{'width':'100%'}"></p-multiSelect>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-1">
                    <div class="px-2 py-1">
                        <p> {{dir=='ltr'?'Availability ' :'الاتاحه'}} </p>

                        <div class="ms-3 AvailabilityOption my-2">
                            <div class="available">
                                <input value="available" formControlName="available" type="radio" class="me-2"
                                    name="productAvailable" checked>
                                <span> {{dir=='ltr'?'Available ' :'متاح'}}</span>
                            </div>
                            <div class="unavailable ms-5">
                                <input value="unavailable" formControlName="available" type="radio" class="me-2"
                                    name="productAvailable">
                                <span> {{dir=='ltr'?'Unavailable ' :'غير متاح'}}</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 mb-1">
                    <div class="px-2 py-1">
                        <div>
                            <p> {{dir=='ltr'?'Product Details' :'تفاصيل المنتج'}}</p>
                            <p class="btn btn-outline-danger px-3 py-2 w-100 form-control"
                                (click)="showAddProductDetails()"> <i class="fa fa-plus mx-1"></i>
                                {{dir=='ltr'?'Add':'اضافه'}}</p>
                            <div *ngIf="productDetailsArray.length" >
                                <p>
                                    {{productDetailsArray.length>0 ? dir=='ltr'?'you have add ('+
                                    productDetailsArray.length
                                    +') of product details until
                                    now':' لقم قمت باضافه'+' ('+( productDetailsArray.length)+") "+
                                    ' من تفاصيل المنتجات الي هذا المنتج حتي الان ':''}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-1">
                    <div class="px-2 py-1">
                        <div>
                            <p>
                                {{dir=='ltr'?'Product note for return ' :'ملاحظات لاعاده المنتج'}}
                            </p>
                            <div class="form-group">
                                <textarea formControlName="noteForReturn" class="form-control" name="" id="" cols="30"
                                    rows="1"></textarea>

                                <div *ngIf="addProductForm.controls['noteForReturn'].errors && addProductForm.controls['noteForReturn'].touched"
                                    class="my-1 xx">
                                    <p class="formError"> {{dir=='ltr'?'In-valid product note For Return ' :'خطاء'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100  mt-4 mb-2 " [ngClass]="{'text-end': dir=='ltr' , 'text-start': dir=='rtl' }">
                    <button type="submit" class="btn btn-dark px-5 py-1 my-1" [disabled]="addProductForm.invalid"><span
                            class="px-2"> {{dir=='ltr'?'update ' :'حفظ'}}</span></button>
                    <button class="btn btn-outline-dark px-5 py-1 mx-2 my-1"
                        (click)="closeProductDetailsSec()">{{dir=='ltr'?'Cancel ' :'الغاء'}}</button>
                </div>
            </div>

        </form>

        <!-- CRUD on product details Section -->


        <div class="productDetails_layer">
            <div class="deleteLayer">
                <div class="row w-100 h-100 align-items-center justify-content-center">
                    <div class="deleteAlert my-2 p-5 pb-2 bg-light text-center">
                        <i class="fa fa-trash fa-2x  mb-4"></i>
                        <h3 *ngIf="dir=='ltr';else arabic">Are you sure that you want to delete this product details?
                        </h3>
                        <ng-template #arabic>
                            <h3>برجاء التأكد من حذف ؟</h3>
                        </ng-template>
                        <div class="mt-3  justify-content-center w-100 ">
                            <div>
                                <button class="btn btn-danger px-2 py-1 w-100" (click)="confirmDelete()">
                                    {{dir=='ltr'?'Delete':'حذف'}}
                                </button>

                            </div>
                            <div class="mt-1">
                                <button class="btn  px-2 py-1  w-100 cancelBtn" (click)="closeDeleteAlert()">
                                    {{dir=='ltr'?'Cancel':'الغاء'}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center p-5 h-100">
                <div class="container  bg-light  productDetails p-3">
                    <div (click)="closeAddSection()" [class]="dir=='ltr'?'text-end' : 'text-start'">
                        <i class="fa fa-close p-2 m-2"></i>
                    </div>
                    <form [formGroup]="addProductDetailsForm"
                        (ngSubmit)="addProductDetailsForm.valid && handelAddProductDetails(addFlag)">
                        <div class="row pe-5 ">
                            <div class="col-12 my-1 text-center">
                                <p>Create new product details</p>
                            </div>

                            <div class="col-6 mb-1">
                                <div class="px-2 py-1">
                                    <div>
                                        <p>
                                            {{dir=='ltr'?'Key Name(Arabic)' :'اسم (عربي) '}}
                                        </p>
                                        <div class="form-group">
                                            <input type="text" formControlName="key" class="form-control" />

                                            <div *ngIf="addProductDetailsForm.controls['key'].errors && addProductDetailsForm.controls['key'].touched"
                                                class=" my-1 xx">
                                                <p class="formError">
                                                    {{dir=='ltr'?'In-valid Key name' :'خطاء'}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mb-1">
                                <div class="px-2 py-1">
                                    <div>

                                        <p> {{dir=='ltr'?' Key Name(English)' :'اسم (الانجليزيه) '}} </p>
                                        <div class="form-group">
                                            <input type="text" formControlName="keyEn" class="form-control" />

                                            <div *ngIf="addProductDetailsForm.controls['keyEn'].errors && addProductDetailsForm.controls['keyEn'].touched"
                                                class=" my-1 xx">

                                                <p class="formError"> {{dir=='ltr'?'In-valid key' :'خطاء'}} </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mb-1">
                                <div class="px-2 py-1">
                                    <div>
                                        <p>
                                            {{dir=='ltr'?'value(Arabic)' :'القيمه (عربي) '}}
                                        </p>
                                        <div class="form-group">
                                            <input type="text" formControlName="value" class="form-control" />

                                            <div *ngIf="addProductDetailsForm.controls['value'].errors && addProductDetailsForm.controls['value'].touched"
                                                class=" my-1 xx">
                                                <p class="formError">
                                                    {{dir=='ltr'?'In-valid value ' :'خطاء'}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mb-1">
                                <div class="px-2 py-1">
                                    <div>

                                        <p> {{dir=='ltr'?'Value(English)' :'القيمه (الانجليزيه) '}} </p>
                                        <div class="form-group">
                                            <input type="text" formControlName="valueEn" class="form-control" />

                                            <div *ngIf="addProductDetailsForm.controls['valueEn'].errors && addProductDetailsForm.controls['valueEn'].touched"
                                                class=" my-1 xx">

                                                <p class="formError"> {{dir=='ltr'?'In-valid value ' :'خطاء'}} </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mb-1 d-none">
                                <div class="px-2 py-1">
                                    <div>
                                        <div class="form-group">
                                            <input type="number" id="detailsID" class="form-control" />

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="w-100  mt-4 mb-2 "
                                [ngClass]="{'text-end': dir=='ltr' , 'text-start': dir=='rtl' }">
                                <button type="submit" class="btn btn-dark px-5 py-1 my-1"
                                    [disabled]="addProductDetailsForm.invalid"><span class="px-2">
                                        {{dir=='ltr'?
                                        addFlag?'Update':'Add'
                                        : addFlag?'حفظ':'اضافه'}}</span></button>

                                <p class="btn btn-outline-dark px-5 py-1 mx-2 my-1" (click)="closeAddSection()">
                                    {{dir=='ltr'?'Cancel ' :'الغاء'}}</p>
                            </div>
                        </div>

                    </form>

                    <div class="displayProductDetails my-2">
                        <div *ngIf="productDetailsArray.length">
                            <div class="my-2">
                                <table class="table contentTable bordered text-center "
                                    [class]="dir=='rtl'?'tableRTL':''">
                                    <thead id="myTableHead">
                                        <tr>
                                            <th scope="col" style="width: 20%;">{{dir=='ltr'?'Kay name (English)':'اسم
                                                (الانجليزيه) '}}</th>
                                            <th scope="col" style="width: 20%;">{{dir=='ltr'?'key name (Arabic)':'اسم
                                                (العربيه) '}}</th>
                                            <th scope="col" style="width: 20%;">{{dir=='ltr'?'value(English)':'القيمه
                                                (الانجليزيه) '}}</th>
                                            <th scope="col" style="width: 20%;">{{dir=='ltr'?'value(Arabic)':'القيمه
                                                (العربيه) '}}</th>
                                            <th scope="col" style="width: 20%;">{{dir=='ltr'?'options':'خيارات'}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of productDetailsArray ; index as i">

                                            <td>
                                                <p>{{product?.keyEn}}</p>
                                            </td>
                                            <td>
                                                <p>{{product?.key}}</p>
                                            </td>
                                            <td>
                                                <p>{{product?.valueEn}}</p>
                                            </td>
                                            <td>
                                                <p>{{product?.value}}</p>
                                            </td>

                                            <td class="optionsActions">
                                                <span *ngIf="userInfo?.isVendor" class="p-2"
                                                    (click)="updateProductDetails(i)">
                                                    <img width="15px"
                                                        src="../../../assets/images/Sislimoda/Icon feather-edit.svg"
                                                        alt="" srcset="">
                                                </span>
                                                <span *ngIf="userInfo?.isVendor" class="p-2" (click)="deletePromote(i)">
                                                    <img width="15px"
                                                        src="../../../assets/images/Sislimoda/Icon feather-trash-2.svg"
                                                        alt="" srcset="">
                                                </span>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>