<div class="NavBar">
    <div class="topNav w-100 d-flex p-3 align-items-center">
        <div class="langDiv">
            <button class="btn ArabicBtn px-3 py-2 mx-1 mb-1">Arabic</button>
            <button class="btn btn-dark px-3 py-2 mx-1 mb-1">English</button>
        </div>

        <div class="slideDiv">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner text-center">
                    <div class="carousel-item active px-5 py-2">
                        <p class="px-3">Original Product 100%</p>
                    </div>
                    <div class="carousel-item  px-5 py-2">
                        <p class="px-3">Original Product 90%</p>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="profileDiv">
            <div>
                <i class="fa fa-user mx-2"></i>
                <a class="text-light" routerLink="">Login</a>
            </div>
        </div>
    </div>
    <div class="secondNav w-100 px-3 py-1">
        <!-- <div class="logoDiv">
            <img class="logo" src="../../../../assets/images/Sislimoda/logo.png" alt="" srcset="">
        </div> -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid px-3">
                <a class="navbar-brand" href="#">
                    <img class="logo" src="../../../../assets/images/Sislimoda/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-4 mb-2 mb-lg-0  w-50">
                        <li class="nav-item  nav-item-active">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Men</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="#">Women</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Kids</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Beauty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sport</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">premium</a>
                        </li>
                    </ul>
                    <div class="d-flex w-50 align-items-center parentSearchNav" role="search">
                        <div class="searchContainer ">
                            <i class="fa fa-search"></i>
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        </div>
                        <div class="navIcons">
                            <i class="fa fa-heart mx-1 fa-2x" aria-hidden="true"></i>
                            <i class="fa fa-shopping-bag mx-1 fa-2x" aria-hidden="true"></i>

                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </div>
</div>
