<section class="OrderDetailsSec  px-3 py-2">

    <div class="sideAlert">
        {{sideMessage}}
    </div>
    <div class="overLay" *ngIf="load">
        <div class="d-flex w-100 h-100 justify-content-center align-items-center">
            <i class="fa fa-spinner fa-5x fa-spin text-light"></i>
        </div>
    </div>

    <div class="my-1">
        <form [formGroup]="addUserForm" (ngSubmit)="handelAddUser()">
            <div class="row pe-5 ">
                <div class="col-12 mb-1">
                    <div class="row">
                        <div class="col-lg-4  mt-1  mb-2">
                            <div class="px-2 py-1">
                                <div class="px-2 py-2 w-100 text-center uploadParent">
                                    <div class="uploadDiv p-2 text-center">
                                        <i class="fa fa-file fa-3x"></i>

                                        <p>
                                            {{dir=='ltr'?'Attach image here to start uploading':'قم باختيار الصوره
                                            المناسبه للبدء في تحميلها '}}
                                        </p>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <p class="p11 me-1"></p>
                                            <p>{{dir=='ltr'?'Or':'او'}}</p>
                                            <p class="ms-1 p11"></p>
                                        </div>
                                        <label for="uploadImage" class="btn btn-primary browseFile px-2 py-1">
                                            {{dir=='ltr'?' Browse file' :'اختيار الملف'}}
                                        </label>
                                        <input formControlName="image" class="d-none" type="file" id="uploadImage"
                                            (change)="selectImage($event)">

                                        <div *ngIf="(addUserForm.controls['image'].errors && addUserForm.controls['image'].touched) || ( startShowError  && addUserForm.controls['image'].errors)"
                                            class=" my-1 xx">

                                            <p class="formError text-danger">
                                                {{dir=='ltr'?'In-valid brand image' :'ملف خاطئ'}}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div *ngIf="selectedImage" class="col-lg-4 mb-2">
                            <div class="px-2 py-2 displayImageCont">
                                <div class="text-end trashSection">
                                    <i class="fa fa-trash text-danger" (click)="removeImage()"></i>
                                </div>
                                <div class="px-2 py-1 w-100 text-center uploadParent">
                                    <img class="img-fluid" [src]="selectedImage" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 mb-1">
                    <div class="px-2 py-1">
                        <div>
                            <p>
                                {{dir=='ltr'?'Name' :'الاسم'}}
                            </p>
                            <div class="form-group">
                                <input type="text" formControlName="name" class="form-control" />

                                <div *ngIf="(addUserForm.controls['name'].errors && addUserForm.controls['name'].touched) || ( startShowError  && addUserForm.controls['name'].errors)"
                                    class=" my-1 xx">
                                    <p class="formError">
                                        {{dir=='ltr'?'In-valid name' :'خطاء'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-1">
                    <div class="px-2 py-1">
                        <div>

                            <p> {{dir=='ltr'?'Phone' :'رقم الهاتف'}} </p>
                            <div class="form-group">
                                <input type="text" formControlName="phoneNumber" class="form-control" />

                                <div *ngIf="(addUserForm.controls['phoneNumber'].errors && addUserForm.controls['phoneNumber'].touched) || ( startShowError  && addUserForm.controls['phoneNumber'].errors)"
                                    class=" my-1 xx">

                                    <p class="formError"> {{dir=='ltr'?'In-valid phones' :'خطاء'}} </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-6 mb-1">
                    <div class="px-2 py-1">
                        <div>
                            <p> {{dir=='ltr'?'Email' :'البريد الالكتروني'}}</p>

                            <div class="form-group">
                                <textarea formControlName="email" class="form-control" name="" id="" cols="30"
                                    rows="1"></textarea>

                                <div *ngIf="(addUserForm.controls['email'].errors && addUserForm.controls['email'].touched) || ( startShowError  && addUserForm.controls['email'].errors)"
                                    class=" my-1 xx">
                                    <p class="formError"> {{dir=='ltr'?'In-valid user email' :'خطاء'}} </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6  mb-1" dir="ltr">
                    <div class="p-2">
                        <p [class]="dir=='ltr'?'text-start':'text-end'">Super Admin</p>

                        <div
                            class="form-check form-switch d-flex justify-content-between border border-2 rounded-2 p-2">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Super Admin</label>
                            <input class="form-check-input mt-1" formControlName="isSupperAdmin" type="checkbox"
                                role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                    </div>
                </div>

                <div class="w-100  mt-4 mb-2 " [ngClass]="{'text-end': dir=='ltr' , 'text-start': dir=='rtl' }">
                    <button type="submit" class="btn  px-5 py-1 my-1"  [class]="addUserForm.invalid ? 'disabledBtn':'btn-dark'"><span
                            class="px-2"> {{dir=='ltr'?'Update ' :'حفظ'}}</span></button>
                    <button class="btn btn-outline-dark px-5 py-1 mx-2 my-1" (click)="cancel()">{{dir=='ltr'?'Cancel '
                        :'الغاء'}}</button>
                </div>
            </div>

        </form>
    </div>

</section>