<section>
    <h4 class="offerhead my-2">{{dir=='ltr'?'Offer Details':"بيانات العرض"}}</h4>
</section>
<section class="OrderDetailsSec  p-3">
    <div class="sideAlert">
        {{sideMessage}}
    </div>
    <div class="overLay" *ngIf="load">
        <div class="d-flex w-100 h-100 justify-content-center align-items-center">
            <i class="fa fa-spinner fa-5x fa-spin text-light"></i>
        </div>
    </div>
    <div class="productDataContainer">

        <div class="info mb-1">
            <div class="row w-100 mb-1 text-center">
                <div class="col-md-2">
                    <div class="px-2 py-1">
                        <div class="orderDetailsImage d-flex align-items-center">
                            <img class="img-fluid" [src]="offer?.photo?.fullLink" alt="">
                        </div>

                    </div>
                </div>
            </div>
            <div class="px-2">
                <p class="OrderDetailsInfo"> {{dir=='ltr'?'Description':'الوصف'}}</p>
                <p class="w-75">
                    {{dir=='ltr'?offer?.descriptionEn :offer?.description}}
                </p>
            </div>

        </div>
        <hr>

        <div class="mb-1">
            <div class="px-2 py-1">
                <p>
                    {{dir=='ltr'?'Name':'الاسم'}}
                </p>
                <p class="">
                    {{dir=='ltr'?offer?.titleEn :offer?.title}}

                </p>
            </div>

        </div>
        <hr>

        <div class="mb-1">
            <div class="">
                <div class="row">
                    <div class="col-md-4 my-1">
                        <div class="px-2 py-1">
                            <p>
                                {{dir=='ltr'?' Discount Code':'كود الخصم'}}
                            </p>
                            <p class="">
                                {{offer?.code}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 my-1">
                        <div class="px-2 py-1">
                            <p>
                                {{dir=='ltr'?'Offer Rate':'نسبه الخصم'}}
                            </p>
                            <p class="">
                                {{offer?.percent |percent}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr>

        <div class="mb-1">
            <div class="">
                <div class="row">
                    <div class="col-md-4 my-1">
                        <div class="px-2 py-1">
                            <p>
                                {{dir=='ltr'?'Start Date':' التاريخ'}}
                            </p>
                            <p class="">
                                {{offer?.startDate.split(" ")[0]}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 my-1">
                        <div class="px-2 py-1">
                            {{dir=='ltr'?'End Date':' تاريخ الانتهاء '}}
                            <p class="">
                                {{offer?.endDate.split(" ")[0]}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr>

        <div class="mb-1">
            <div class="px-2 py-1">

                <p>
                    {{dir=='ltr'?'Offer Status':' الحاله'}} </p>
                <p *ngIf="offer?.isActive ; else notActive" class="">
                    <i class="fa fa-circle text-success mr-2" aria-hidden="true"></i>
                    {{dir=='ltr'?'Available':' متاح'}}

                </p>
                <ng-template #notActive>
                    <p>
                        <i class="fa fa-circle text-danger mr-2" aria-hidden="true"></i>

                        {{dir=='ltr'?' Not Available':' غير متاح'}}

                    </p>
                </ng-template>
            </div>

        </div>
        <hr>
        <div class="mb-1">
            <div class="px-2 py-1">
                <div class="row align-items-center">
                    <div *ngFor="let product of offer?.offersProducts" class="col-md-4 my-2">
                        <div class="p-2">
                            <div class="offerProductList py-3 ps-3 pe-1">
                                <div class="row justify-content-center">
                                    <div class="col-10">
                                        <div class=" my-2 ">
                                            <img class="productsImage" [src]="product.product?.defaultPhoto?.fullLink" alt=""
                                                srcset="" (click)="showProduct(product?.product?.id)">
                                        </div>

                                    </div>
                                    <div *ngIf="userInfo?.isVendor" class="col-2 p-2 text-end ">
                                        <div class=" w-100 text-end p-2 mb-1 icontainer">
                                            <i class="fa fa-close text-danger"
                                                (click)="deleteProductFromOffer(product?.id)"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="containerData">
                                    <h6 class="title my-1 text-center">{{dir=='ltr'?product.product?.nameEn:product.product?.name}}.</h6>
                                    <p class="Desc my-2">{{dir=='ltr'?product.product?.descriptionEn.slice(0,50):product.product?.description.slice(0,50)}}...</p>
                                    <p class="price my-1 text-danger">{{product.product?.defaultPrice}}$</p>
                                </div>
                            </div>

                        </div>
                    </div>
            
                    <div class="col-12"></div>
                    <div *ngIf="userInfo?.isVendor" class="col-md-6 mb-1">
                        <div class="px-2 py-1">
                            <div>
                                <p> {{dir=='ltr'?'Product options' :'خيارات'}}</p>
                                <form [formGroup]="addProductForm">
                                    <p-multiSelect formControlName="productOptions" [options]="optionList"
                                        optionLabel="nameEn" [style]="{'width':'100%'}"></p-multiSelect>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="w-100 text-end mt-4 mb-2 mx-2">
            <button class="btn btn-dark px-3 py-1 mx-1" (click)="closeProductDetailsSec()">
                {{dir=='ltr'?'Back':' رجوع'}}

            </button>

            <button *ngIf="!this.userInfo?.isAdmin" class="btn btn-danger px-3 py-1 mx-1" (click)="addProducts()">
                {{dir=='ltr'?'Save':'حفظ'}}

            </button>
        </div>
    </div>

</section>