@import '../../productComponent/product-details/product-details.component.scss';
@import '../../order/order-details/order-details.component.scss';

.offerhead{
    color: $redColor;
}
.offerProductList{
    background-color: $lightGray;
    border-radius: 15px;
}
.offerProductList img{
    border-radius: 15px;
    cursor: pointer;
}
.icontainer{
    background-color: $lightPink;
    border-radius: 5px;
    cursor: pointer;
}
.productImage , .productsImage{
    border-radius: 5px;
    width: 150px;
    height: 150px;
}
