@import '../../admin-user-management/user-management/user-management.component.scss';
@import '../../order/order-management/order-management.component.scss';

.head {
  height: 100vh;
}

th {
  font-size: 13px;
}

.detailedReport {
  background-color: $lighterGrayColor;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.cla {
  overflow: visible;
}

.applyBttonClick {
  width: 100%;
  background-color: $lighterGrayColor;
  text-align: right;
}

.ApplyDate {
  border-radius: 15px;
  padding: 5px 15px;
  color: $whiteColor;

}


::ng-deep {
  .p-datepicker td>span {
    width: 25px !important;
    height: 25px !important;
  }

  .p-calendar .p-datepicker {
    direction: ltr;
  }

  .lol .p-calendar .p-datepicker {
    left: -122% !important;
  }

  .lol2 .p-calendar .p-datepicker {
    left: 5% !important;
  }

  .p-calendar {
    height: 36px !important;
  }
}