@import '../../vendor/vendor-management/vendor-management.component.scss';



.userInquiries {
    padding: 10px;
    background-color: $lighterGrayColor;
    border-radius: 15px;
    // box-shadow: 5px 5px 20px 2px $lighterGrayColor;

}