<div class="head" [dir]="dir">
    <div class="sideAlert">
        {{sideMessage}}
    </div>
    <div class="overLay" *ngIf="load">
        <div class="d-flex w-100 h-100 justify-content-center align-items-center">
            <i class="fa fa-spinner fa-5x fa-spin text-light"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5 class="head_title">{{dir=="ltr"?'Category Management':'اداره الفئات'}}</h5>
            <p class="my-1"></p>
        </div>
    </div>

    <div class="row  categoryContainer my-2">
        <div class="hh p-3 text-light">
            <h5>{{dir=="ltr"?'Update Subcategory ':'تحديثس فئه فرعيه جديده '}}</h5>

        </div>
        <div class="categoryContainerBody px-5 ">
            <div class="px-3 py-1">
                <form [formGroup]="addCategoryForm" (ngSubmit)=" handelAddCategory()">
                    <div class="row pe-5">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-4  mt-1  mb-2">
                                    <div class="px-2 py-1">
                                        <div class="px-2 py-2 w-100 text-center uploadParent">
                                            <div class="uploadDiv p-2 text-center">
                                                <i class="fa fa-file fa-3x"></i>
                                                <p>{{dir=='ltr'?'Attach image here to start uploading':"قم باختيار الملف
                                                    للبدء في تحميله"}}</p>
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <p class="p11 me-1"></p>
                                                    <p>{{dir=='ltr'?'Or':'او'}}</p>
                                                    <p class="ms-1 p11"></p>
                                                </div>
                                                <label for="uploadImage" class="btn btn-primary browseFile px-2 py-1">
                                                    {{dir=='ltr'?'Browse file':'اختبار الملف'}}
                                                </label>
                                                <input formControlName="image" class="d-none" multiple type="file"
                                                    id="uploadImage" (change)="selectImage($event)">

                                                <div *ngIf="(addCategoryForm.controls['image'].errors && addCategoryForm.controls['image'].touched) || ( startShowError  && addCategoryForm.controls['image'].errors)"
                                                    class=" my-1 xx">
                                                    <p class="formError text-danger">{{dir=='ltr'?'In-valid category image':'خطاء'}}
                                                    </p>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="selectedImage" class="col-lg-4 mb-2">
                                    <div class="px-2 py-2 displayImageCont">
                                        <div class="text-end trashSection">
                                            <i class="fa fa-trash text-danger" (click)="removeImage()"></i>
                                        </div>
                                        <div class="px-2 py-1 w-100 text-center uploadParent">
                                            <img class="img-fluid" [src]="selectedImage" alt="" srcset="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 mb-1">
                            <div class="px-2 py-1">
                                <div>
                                    <p>{{dir=='ltr'?'Category Name (Arabic)':' الاسم'+'(عربي)'}}</p>

                                    <div class="form-group">
                                        <input type="text" formControlName="categoryName" class="form-control" />

                                        <div *ngIf="(addCategoryForm.controls['categoryName'].errors && addCategoryForm.controls['categoryName'].touched) || ( startShowError  && addCategoryForm.controls['categoryName'].errors)"
                                            class=" my-1 xx">
                                            <p class="formError">{{dir=='ltr'?'In-valid category name':'خطاء'}}</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-1">
                            <div class="px-2 py-1">
                                <div>
                                    <p>{{dir=='ltr'?'Category Name (English)':' الاسم'+'(English)'}}</p>

                                    <div class="form-group">
                                        <input type="text" formControlName="categoryNameEn" class="form-control" />

                                        <div *ngIf="(addCategoryForm.controls['categoryNameEn'].errors && addCategoryForm.controls['categoryNameEn'].touched) || ( startShowError  && addCategoryForm.controls['categoryNameEn'].errors)"
                                            class="my-1 xx">
                                            <p class="formError">{{dir=='ltr'?'In-valid category name':'خطاء'}}</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-1">
                            <div class="px-2 py-1">
                                <div>
                                    <p>{{dir=='ltr'?'Category Description (Arabic)':'وصف الفئه'+'(عربي)'}}</p>

                                    <div class="form-group">
                                        <textarea formControlName="categoryDescription" class="form-control" name=""
                                            id="" cols="30" rows="1"></textarea>

                                        <div *ngIf="(addCategoryForm.controls['categoryDescription'].errors && addCategoryForm.controls['categoryDescription'].touched) || ( startShowError  && addCategoryForm.controls['categoryDescription'].errors)"
                                            class=" my-1 xx">
                                            <p class="formError">{{dir=='ltr'?'In-valid category description':'خطاء'}}
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-1">
                            <div class="px-2 py-1">
                                <div>
                                    <p>{{dir=='ltr'?'Category Description(English)':'وصف الفئه'+'(بلانجليزيه)'}}</p>
                                    <div class="form-group">
                                        <textarea formControlName="categoryDescriptionEn" class="form-control" name=""
                                            id="" cols="30" rows="1"></textarea>

                                        <div *ngIf="(addCategoryForm.controls['categoryDescriptionEn'].errors && addCategoryForm.controls['categoryDescriptionEn'].touched) || ( startShowError  && addCategoryForm.controls['categoryDescriptionEn'].errors)"
                                            class=" my-1 xx">
                                            <p class="formError">{{dir=='ltr'?'In-valid category description':'خطاء'}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-1">
                            <div class="px-2 py-1">
                                <div>
                                    <p>Category</p>
                                    <div class="form-group my-1">
                                        <select formControlName="category" class="form-select p-2 text-start"
                                            aria-label="Default select example">
                                            <option *ngFor="let category of categoryList ;  index as i"
                                                [value]="category.id" [selected]=" i== 0">
                                                {{category.nameEn}}</option>
                                        </select>

                                        <div *ngIf="(addCategoryForm.controls['category'].errors && addCategoryForm.controls['category'].touched)  || ( startShowError  && addCategoryForm.controls['category'].errors)"
                                            class=" my-1 xx">
                                            <p class="formError">In-valid category name</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="w-100  mt-2 mb-2 " [class]="dir=='ltr'?'text-end':'text-start'">
                            <button type="submit" class="btn  px-5 py-1 my-1"
                                [class]="addCategoryForm.invalid ? 'disabledBtn':'btn-dark'"><span
                                    class="px-2">{{dir=='ltr'?'Update':'حفظ'}}</span></button>
                            <button class="btn btn-outline-dark px-5 py-1 mx-2 my-1"
                                (click)="closeCategoryDetailsSec()">{{dir=='ltr'?'Cancel':'الغاء'}}</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>