<app-nav-bar></app-nav-bar>
<section class="MainCategorySection my-2">
    <div class="row align-items-center text-center">

        <div class="col-md-3 my-2">
            <div class="p-2">
                <div class="mainCategory">
                    <div class="contentContainer">
                        <h3>Shop Now</h3>
                        <h4 class="ms-3">Men Collection</h4>
                    </div>
                    <img class="img-fluid" src="../../../../assets/images/Sislimoda/user/2/Rectangle-1.png" alt="">
                </div>
            </div>
        </div>

        <div class="col-md-3 my-2">
            <div class="p-2">
                <div class="mainCategory">
                    <div class="contentContainer">
                        <h3>Shop Now</h3>
                        <h4 class="ms-3">Men Collection</h4>
                    </div>
                    <img class="img-fluid" src="../../../../assets/images/Sislimoda/user/2/Rectangle-2.png" alt="">
                </div>
            </div>
        </div>

        <div class="col-md-3 my-2">
            <div class="p-2">
                <div class="mainCategory">
                    <div class="contentContainer">
                        <h3>Shop Now</h3>
                        <h4 class="ms-3">Men Collection</h4>
                    </div>
                    <img class="img-fluid" src="../../../../assets/images/Sislimoda/user/2/Rectangle-3.png" alt="">
                </div>
            </div>
        </div>


        <div class="col-md-3 my-2">
            <div class="p-2">
                <div class="mainCategory">
                    <div class="contentContainer">
                        <h3>Shop Now</h3>
                        <h4 class="ms-3">Men Collection</h4>
                    </div>
                    <img class="img-fluid" src="../../../../assets/images/Sislimoda/user/2/Rectangle-10.png" alt="">
                </div>
            </div>
        </div>


    </div>
</section>

<section class="MainBrandSection my-2">

    <div class="px-5 py-3">
        <h5 class="my-2 ms-3">Popular Brands</h5>
        <div class="BrandLine"></div>
    </div>
    <div class="container my-3">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-md-3 my-2">
                <div class="p-2">
                    <div class="mainBrand">
                        <img class="img-fluid" src="../../../../assets/images/Sislimoda/user/2/1.png" alt="">

                    </div>
                </div>
            </div>

            <div class="col-md-3 my-2">
                <div class="p-2">
                    <div class="mainBrand">
                        <img class="img-fluid" src="../../../../assets/images/Sislimoda/user/2/2.png" alt="">

                    </div>
                </div>
            </div>


            <div class="col-md-3 my-2">
                <div class="p-2">
                    <div class="mainBrand">
                        <img class="img-fluid" src="../../../../assets/images/Sislimoda/user/2/3.png" alt="">

                    </div>
                </div>
            </div>

            <div class="col-md-3 my-2">
                <div class="p-2">
                    <div class="mainBrand">
                        <img class="img-fluid" src="../../../../assets/images/Sislimoda/user/2/4.png" alt="">

                    </div>
                </div>
            </div>

            <div class="col-md-3 my-2">
                <div class="p-2">
                    <div class="mainBrand">
                        <img class="img-fluid" src="../../../../assets/images/Sislimoda/user/2/nike-4-logo-svg-vector.png" alt="">

                    </div>
                </div>
            </div>

            <div class="col-md-3 my-2">
                <div class="p-2">
                    <div class="mainBrand">
                        <img class="img-fluid" src="../../../../assets/images/Sislimoda/user/2/5.png" alt="">

                    </div>
                </div>
            </div>


            <div class="col-md-3 my-2">
                <div class="p-2">
                    <div class="mainBrand">
                        <img class="img-fluid" src="../../../../assets/images/Sislimoda/user/2/missguided-logo-vector.png" alt="">

                    </div>
                </div>
            </div>


        </div>
    </div>

</section>

<app-footer></app-footer>