@import '../product-details/product-details.component.scss';
@import '../order-details/order-details.component.scss';

.offerhead{
    color: $redColor;
}
.offerProductList{
    background-color: $lightGray;
    border-radius: 15px;
}
.offerProductList img{
    border-radius: 15px;
    cursor: pointer;
}
.icontainer{
    background-color: $lightPink;
    border-radius: 5px;
    cursor: pointer;
}
.productImage{
    border-radius: 5px;
}