$whiteColor: #ffffff;
$blackColor: #000000;
$lightGreen: #81ffca;
$lightPink: #FFDCDC;
$lightGray: #d1d1d1;
$lighterGrayColor: #EFEFFF;
$middleGrayColor: #EAEAFF;
$redColor: #D80008;
$barColorE7: #E7E7E7E7;

*:not(i) {
    font-family: 'Poppins', sans-serif;

}

* {
    padding: 0px;
    margin: 0px;

    // overflow-x: hidden;

}

.overLay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 5555555555555555;
}

.sideAlert {
    background-color: $redColor;
    color: $whiteColor;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: fixed;
    right: -100%;
    top: 15%;
    padding: 10px 20px;
    transition: all 1s;
    z-index: 9999999999999;
}

.head_title {
    color: $redColor ;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.head_Desc {
    font-size: 12px;
}

.searchInputContainer {
    position: relative;
}

.searchInput {
    background-color: transparent !important;
    border-radius: 8px !important;
    padding: 5px !important;
    padding-left: 30px !important;
    border: 1px solid $lightGray;

}

.searchInput::placeholder {
    color: $blackColor;
    font-size: 13px;
}

.searchInput:focus {
    outline: none;
    box-shadow: none;
}


.searchInputContainer i {
    position: absolute;
    top: 30%;
    left: 2%;
    font-size: 13px;
    color: $blackColor;
}

.search_dropdownMenuButton {
    border: 1px solid $lightGray;
    border-radius: 8px;
    padding: 7px 7px;
    background-color: $whiteColor;
    font-size: 13px;

}

.search_dropdownMenuButton i {
    font-size: 13px;
}

.search_dropdownMenuButton_click {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 0px;
}

.search_dropdownMenuButton:focus {
    outline: none;
    box-shadow: none;
}

.search_dropdown {
    position: relative;
}



.dropdown-menu-list {
    position: absolute;
    width: 100% !important;
    z-index: 11111;
    padding: 5px;
    border: 1px solid $lightGray;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    background-color: $middleGrayColor;
    display: none;
    text-align: left;
}

.dropdown-menu-list-RTL {
    text-align: right;

}

.dropdown-menu-list span {
    cursor: pointer;
}

::ng-deep {
    .p-dropdown-header {
        display: none;
    }
}

// Order table

.contentTable {
    border-radius: 15px !important;
}

.tableImage {
    width: 40px;
    margin: auto;
    border-radius: 5px;
}

.contentTable thead th {
    background-color: $blackColor !important;
    color: $whiteColor;
    font-size: 12px !important;
    font-family: 'Poppins', sans-serif;
    padding-top: 14px;
    padding-bottom: 14px;
    letter-spacing: 0.5;
}


table {
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-shadow: 5px 5px 5px 2px $lighterGrayColor;
    border: 0px solid transparent;
}

table td {
    vertical-align: middle;
    font-size: 12px;
}

table tr {
    border-bottom: 1px solid $lightGray;
}

table tr:last-child {
    border-bottom: 0px solid transparent !important;
}

table th:first-child {
    border-top-left-radius: 6px;
}

table th:last-child {
    border-top-right-radius: 6px;
}

.tableRTL th:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 6px;
}

.tableRTL th:last-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 0px;
}




table td:first-child {
    border-bottom-right-radius: 6px;
}

table td:last-child {
    border-bottom-right-radius: 6px;
}

.tableRTL td:first-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 0px;
}

.tableRTL td:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 6px;
}

.optionsActions span {
    cursor: pointer;
}

// pagination part
.paginateSection {
    float: right;
    width: auto;
    text-align: center;

}

.paginateSectionRTL {
    float: left;

}

.paginateSection ul {
    // background-color: $lighterGrayColor;
    background-color: transparent;
    border: 1px solid $barColorE7;
    border-radius: 25px;
    padding: 5px;
}

.paginateSection ul li {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 2px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;


}

.paginateSection ul li span {
    width: 25px;
    height: 25px;


}

.ActivePage {
    background-color: $redColor;
    color: $whiteColor;
    border-radius: 50%;
}


.OrderDetailsSec {
    width: 100%;
    border: 1px solid $lightGray;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 2px $lighterGrayColor;

}

.orderDetailsImage {
    border: 1px solid $lightGray;
    border-radius: 15px;
}

.OrderDetailsInfo {
    color: $redColor;
}

// .OrderDetailsSec{
//     display: none;
// }
.fa-times {
    cursor: pointer;
}