<div id="footer" class="div">
    <div class=" p-3">
        <div class="row justify-content-center  ">

            <div class="col-md-2 ps-5 secCol my-2">
                <h5 class="">Countries</h5>
                <div class="">
                    <p>
                        <a href="#">Egypt</a>
                    </p>
                    <p>
                        <a class="prof" (click)="Navigate('profile')">Saudi Araby</a>
                    </p>
                    <p>
                        <a class="prof" (click)="Navigate('profile')">Saudi Araby</a>
                    </p>
                    <p>
                        <a class="prof" (click)="Navigate('profile')">Saudi Araby</a>
                    </p>

                </div>
            </div>

            <div class="col-md-2 ps-5 secCol my-2">
                <h5 class="">Sislimoda</h5>
                <div class="">
                    <p>
                        <a href="#">About</a>
                    </p>
                    <p>
                        <a class="prof" (click)="Navigate('profile')">Partner</a>
                    </p>

                    <p>
                        <a class="prof" (click)="Navigate('profile')">privacy</a>
                    </p>

                </div>
            </div>


            <div class="col-md-2 ps-5 secCol my-2">
                <h5 class="">Customer Service</h5>
                <div class="">
                    <p>
                        <a href="#">How to order</a>
                    </p>
                    <p>
                        <a class="prof" (click)="Navigate('profile')">Return policy</a>
                    </p>

                    <p>
                        <a class="prof" (click)="Navigate('profile')">Refund policy</a>
                    </p>

                </div>
            </div>


            <div class="col-md-2 ps-5 secCol my-2">
                <h5 class="">Popular brand</h5>
                <div class="">
                    <p>
                        <a href="#">Zara</a>
                    </p>
                    <p>
                        <a class="prof" (click)="Navigate('profile')">Adidas</a>
                    </p>
                    <p>
                        <a class="prof" (click)="Navigate('profile')">Nike</a>
                    </p>

                    <p>
                        <a class="prof" (click)="Navigate('profile')">Tommy</a>
                    </p>
                </div>
            </div>



            <div class="col-md-2 ps-5 secCol my-2">
                <h5 class="">Top collection</h5>
                <div class="">
                    <p>
                        <a href="#">Women</a>
                    </p>
                    <p>
                        <a class="prof" (click)="Navigate('profile')">Men</a>
                    </p>
                    <p>
                        <a class="prof" (click)="Navigate('profile')">kids</a>
                    </p>

                    <p>
                        <a class="prof" (click)="Navigate('profile')">kids</a>
                    </p>
                </div>
            </div>


            <div class="col-md-2 secCol my-2">
                <h5 class="">Shop online</h5>
                <div class=" w-100">
                    <div class="row">
                        <div class="col-12 my-1">
                            <div class="p-2">
                                <img class="foorterImage"
                                    src="../../../../assets/images/Sislimoda/user/2/download-on-the-app-store-apple-logo-svgrepo-com.png" alt="">
                            </div>
                        </div>

                        <div class="col-12 my-1">
                            <div class="p-2">
                                <img class="foorterImage"
                                src="../../../../assets/images/Sislimoda/user/2/Explore It On Huawei AppGallery.png" alt="">

                            </div>
                        </div>

                        <div class="col-12 my-1">
                            <div class="p-2">
                                <img class="foorterImage"
                                src="../../../../assets/images/Sislimoda/user/2/google-play-badge-logo-svgrepo-com.png" alt="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 secCol my-2 text-center socialLinks">
                <h5 class="">Follow Us On </h5>
                <div class="w-100 ">
                    <div class="d-flex justify-content-center">
                        <div class=" my-1">
                            <div class="p-2">
                                <i class="fab fa-facebook"></i>
                            </div>
                        </div>
                        <div class="my-1">
                            <div class="p-2">
                                <i class="fab fa-twitter"></i>
                            </div>
                        </div>

                        <div class="my-1">
                            <div class="p-2">
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>

                        <div class="my-1">
                            <div class="p-2">
                                <i class="fab fa-pinterest" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="my-1">
                            <div class="p-2">
                                <i class="fab fa-youtube" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="my-1">
                            <div class="p-2">
                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="my-1">
                            <div class="p-2">
                                <i class="fab fa-snapchat" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>