<section class="OrderDetailsSec  p-3">
    <div class="sideAlert">
        {{sideMessage}}
    </div>
    <div class="overLay" *ngIf="load">
        <div class="d-flex w-100 h-100 justify-content-center align-items-center">
            <i class="fa fa-spinner fa-5x fa-spin text-light"></i>
        </div>
    </div>
    <div class="productDataContainer">
        <div class="info ">
            <div class="row w-100 mb-1 text-center">
                <div *ngFor="let image of product?.productImages" class="col-md-3 col-6 mb-1">
                    <div class="px-2 py-1">
                        <div class="orderDetailsImage">
                            <img class="img-fluid productImage" src="{{image?.photo?.fullLink}}" alt="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="px-2 pb-1">
                <p class="OrderDetailsInfo">{{dir=='ltr'?'Product Details':'تفاصيل المنتج'}}</p>
                <p class="">
                    {{dir=='ltr'?product?.descriptionEn :product?.description}}
                </p>
            </div>

        </div>
        <hr>

        <div class="mb-1">
            <div class="px-2 py-1">
                <p> {{dir=='ltr'?'Inventory Name':"اسم المورد"}}</p>
                <p class="">
                    {{
                    product?.amount 
                    }}
                </p>
            </div>

        </div>
        <hr>

        <div class="mb-1">
            <div class="px-2 py-1">
                <p> {{dir=='ltr'?'Category':"الفئه"}}</p>
                <p class="">
                    {{ dir=='ltr'?
                    product?.category?.nameEn || 'Smart Phone' :
                    product?.category?.name || 'مجهول الهويه'
                    }}
                </p>
            </div>

        </div>
        <hr>
        <div class="mb-1">
            <div class="px-2 py-1">
                <p> {{dir=='ltr'?'Brand':"علامه التجاريه"}}</p>

                <p class="">
                    {{
                    dir=='ltr'?
                    product?.brand?.nameEn :
                    product?.brand?.name
                    }}
                </p>
            </div>

        </div>
        <hr>
        <div class="mb-1">
            <div class="px-2 py-1">
                <p>{{ dir=='ltr'?'Availability':'الاتاحه'}}</p>
                <div class="ms-3 AvailabilityOption my-2">
                    <div *ngIf="product?.isActive" class="available">
                        <input type="radio" class="mx-2" name="productAvailable" [checked]="product?.isActive">
                        <span>{{dir=='ltr'?'Available':'متاح'}}</span>
                    </div>
                    <div *ngIf="!product?.isActive" class="unavailable ms-5 me-2">
                        <input type="radio" class="mx-2" name="productAvailable" [checked]="!product?.isActive">
                        <span> {{dir=='ltr'?'Unavailable':'غير متاح'}}</span>
                    </div>
                </div>
            </div>

        </div>
        <hr>
        <div class="w-100 mt-2 mb-2 " [ngClass]="{'text-end':dir=='ltr' , 'text-start':dir=='rtl'}">
            <button class="btn btn-dark px-5 py-1"
                (click)="closeProductDetailsSec()">{{dir=='ltr'?'Back':'رجوع'}}</button>
        </div>
    </div>

</section>