<div class="dashBoard p-2" [dir]="dir">

  <div class="sideAlert">
    {{sideMessage}}
  </div>
  <div class="overLay" *ngIf="load">
    <div class="d-flex w-100 h-100 justify-content-center align-items-center">
      <i class="fa fa-spinner fa-5x fa-spin text-light"></i>
    </div>
  </div>
  <div class="row px-2 h-100">

    <div class="col-3 col-md-3 col-lg-2 sideNav ">

      <div class="imageContainer text-center">
        <img class="" src="../../../assets/images/Sislimoda/logo.png" alt="" srcset="">
      </div>
      <!-- contentList -->
      <div class="contentList p-2">
        <ul class="text">
          <li class="my-1 py-1  listItem listItem1" (click)="changeDisplay('listItem1' , 'dashboard')">
            <i class="fa fa-circle"></i>
            <p class="ActiveCheck ms-1 py-2 px-2 d-flex align-items-center">
              <img class="me-1 image" src="../../../assets/images/Sislimoda/white/dashboardBalck.svg" alt="" srcset="">
              <img class="me-1 image2" src="../../../assets/images/Sislimoda/white/white_dashboard.svg" alt=""
                srcset="">
              {{dir=='ltr'?'Dashboard Overview':'لوحه التحكم'}}
            </p>
          </li>

          <li class="my-1  listItem listItem2" (click)="changeDisplay('listItem2' , 'order')">
            <i class="fa fa-circle"></i>
            <p class="ms-1 py-2 px-2 d-flex align-items-center">
              <img class="me-1 image" src="../../../assets/images/Sislimoda/white/orderBlack.svg" alt="" srcset="">
              <img class="me-1 image2" src="../../../assets/images/Sislimoda/white/orderWhite.svg" alt="" srcset="">
              {{dir=='ltr'?'Order Management':'إدارة الطلبيات'}}
            </p>
          </li>

          <li class="mb-1  listItem listItem12" (click)="changeDisplay('listItem12' , 'offers')">
            <i class="fa fa-circle"></i>
            <p class="ms-1 py-2 px-2 d-flex align-items-center">
              <img class="me-1 image" src="../../../assets/images/Sislimoda/white/offerBlack.svg" alt="" srcset="">
              <img class="me-1 image2" src="../../../assets/images/Sislimoda/white/offerWhite.svg" alt="" srcset="">
              {{dir=='ltr'?' offers Management':'إدارة العروض'}}


            </p>
          </li>


          <li class="mb-1 listItem listItem3" (click)="changeDisplay('listItem3', 'product')">
            <i class="fa fa-circle"></i>
            <p class="ms-1 py-2 px-2 d-flex align-items-center">
              <img class="me-1 image" src="../../../assets/images/Sislimoda/white/productBlack.svg" alt="" srcset="">
              <img class="me-1 image2" src="../../../assets/images/Sislimoda/white/productWhite.svg" alt="" srcset="">
              {{dir=='ltr'?'Product Management':'إدارة المنتجات'}}
            </p>
          </li>



          <li *ngIf="userInfo?.isAdmin" class="mb-1  listItem listItem4"
            (click)="changeDisplay('listItem4' , 'vendor')">
            <i class="fa fa-circle"></i>
            <p class="ms-1 py-2 px-2 d-flex align-items-center">
              <img class="me-1 image" src="../../../assets/images/Sislimoda/white/userBlack.svg" alt="" srcset="">
              <img class="me-1 image2" src="../../../assets/images/Sislimoda/white/userWhite.svg" alt="" srcset="">

              {{dir=='ltr'?'Vendor Management':'إدارة الموردين'}}

            </p>
          </li>


          <li class="mb-1  listItem listItem5 d-none" (click)="changeDisplay('listItem5' , 'inventory')">
            <i class="fa fa-circle"></i>
            <p class="ms-1 py-2 px-2 d-flex align-items-center">
              <img class="me-1 image" src="../../../assets/images/Sislimoda/white/inventoryBlack.svg" alt="" srcset="">
              <img class="me-1 image2" src="../../../assets/images/Sislimoda/white/inventory_white.svg" alt=""
                srcset="">
              {{dir=='ltr'?'Inventory Management':'إدارة المخازن'}}

            </p>
          </li>


          <li *ngIf="userInfo?.isAdmin" class="mb-1  listItem listItem6" (click)="changeDisplay('listItem6' ,'user')">
            <i class="fa fa-circle"></i>
            <p class="ms-1 py-2 px-2 d-flex align-items-center">
              <img class="me-1 image" src="../../../assets/images/Sislimoda/white/user_black.svg" alt="" srcset="">
              <img class="me-1 image2" src="../../../assets/images/Sislimoda/white/user_white.svg" alt="" srcset="">
              {{dir=='ltr'?'Users Management':'إدارة المستخدمين'}}
            </p>
          </li>

          <li class="mb-1  listItem listItem7" (click)="changeDisplay('listItem7'  ,'financial')">
            <i class="fa fa-circle"></i>
            <p class="ms-1 py-2 px-2 d-flex align-items-center">
              <img class="image" src="../../../assets/images/Sislimoda/white/finaincialBalck.svg" alt="" srcset="">
              <img class="image2" src="../../../assets/images/Sislimoda/white/financial_white.svg" alt="" srcset="">

              {{dir=='ltr'?'Financial Management':'إدارة الحسابات'}}

            </p>
          </li>



          <li *ngIf="userInfo?.isAdmin" class="mb-1  listItem listItem9"
            (click)="changeDisplay('listItem9' , 'category')">
            <i class="fa fa-circle"></i>
            <p class="ms-1 py-2 px-2 d-flex align-items-center">
              <img class="me-1 image" src="../../../assets/images/Sislimoda/white/categories.svg" alt="" srcset="">
              <img class="me-1 image2" src="../../../assets/images/Sislimoda/white/categories_white.svg" alt=""
                srcset="">
              {{dir=='ltr'?'Category Management':'إدارة الفئات'}}
            </p>
          </li>
          <li *ngIf="userInfo?.isAdmin" class="mb-1  listItem listItem13"
            (click)="changeDisplay('listItem13' , 'brand')">
            <i class="fa fa-circle"></i>
            <p class="ms-1 py-2 px-2 d-flex align-items-center">
              <img class="me-1 image" src="../../../assets/images/Sislimoda/white/categories.svg" alt="" srcset="">
              <img class="me-1 image2" src="../../../assets/images/Sislimoda/white/categories_white.svg" alt=""
                srcset="">
              {{dir=='ltr'?'Brand Management':'إدارة العلامات التجاريه'}}
            </p>
          </li>
          <li class="mb-1  listItem listItem18" (click)="changeDisplay('listItem18' , 'ticket')">
            <i class="fa fa-circle"></i>
            <p class="ms-1 py-2 px-2 d-flex align-items-center">
              <img class="me-1 image" width="20px" src="../../../assets/images/Sislimoda/white/support-ticket.svg"
                alt="" srcset="">
              <img class="me-1 image2" width="20px" src="../../../assets/images/Sislimoda/white/support_white.svg"
                alt="" srcset="">

              {{dir=='ltr'?'ticket Management':'إدارة الشكاوه'}}

            </p>
          </li>

          <li class="mb-1 listItem listItem10 d-none" (click)="changeDisplay('listItem10' , 'sales')">
            <i class="fa fa-circle"></i>
            <p class="ms-1 py-2 px-2 d-flex align-items-center">
              <img class="me-1 image" src="../../../assets/images/Sislimoda/white/analysisBlack.svg" alt="" srcset="">
              <img class="me-1 image2" src="../../../assets/images/Sislimoda/white/sales_white.svg" alt="" srcset="">
              {{dir=='ltr'?'Sales Management':'إدارة المبيعات'}}
            </p>
          </li>


          <li *ngIf="userInfo?.isAdmin" class="mb-1  listItem listItem11"
            (click)="changeDisplay('listItem11', 'settings')">
            <i class="fa fa-circle"></i>
            <p class="ms-1 py-2 px-2 d-flex align-items-center">
              <img class="me-1 image" src="../../../assets/images/Sislimoda/white/settingBlack.svg" alt="" srcset="">
              <img class="me-1 image2" src="../../../assets/images/Sislimoda/white/settings_white.svg" alt="" srcset="">
              {{dir=='ltr'?'Settings Management':' الاعدادات'}}
            </p>
          </li>

          <li class="mb-1 listItem listItem14" (click)="logout()">
            <p class="ms-1 py-2 px-2 d-flex align-items-center">
              <i class="fa fa-sign-out  mx-1 py-2" aria-hidden="true"></i>
              {{dir=='ltr'?'Logout':' تسجيل الخروج'}}
            </p>
          </li>

        </ul>
      </div>

      <!-- footer -->
      <div class="sideNav_footer">
        <img class="mx-1 image" src="../../../assets/images/Sislimoda/white/support.svg" alt="" srcset="">

        <span>{{dir=='ltr'?'Support and Help':'الدعم الفني'}}</span>
      </div>
    </div>

    <div class="col-9  col-md-9 col-lg-10 px-2">
      <div class="w-100">
        <div class="w-100 p-2 profileAndLang">
          <div class="row align-items-center">
            <div class="col-md-7">
              <div class="row">
                <div class="col-2  col-lg-1">
                  <div class="p-1">
                    <div class="container_profile_Image" (click)="loadProfile(vendorData?.id)">
                      <img class="img-fluid" [src]="photo" alt="">
                      <i class="fa fa-circle"></i>
                    </div>
                  </div>
                </div>
                <div class="col-10  col-lg-11">
                  <div class="p-2">
                    <h6>{{userInfo?.firstName |uppercase }} {{userInfo?.lastName |uppercase }}</h6>
                    <p>{{userInfo?.email}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-lg-8 col-6 notifyPart text-light">
                  <div class="row pe-1">
                    <!-- <div class="col-lg-9 col-6  commentNotify" [class]="dir=='rtl'?'text-start':'text-end'">
                     
                      <img class="img-fluid" src="../../../assets/images/Sislimoda/comment.svg" alt="" srcset="">

                    </div> -->
                    <div class="col-12 commentNotify  commentNotify2  " [class]="dir=='rtl'?'text-start':'text-end'">
                      <!-- <i class="fa fa-circle  ms-1"></i>
                      <i class=" fa fa-bell "></i> -->
                      <div class="mx-2 noti" (click)="getNotification()">
                        <img class="img-fluid" src="../../../assets/images/Sislimoda/notification.svg" alt="" srcset="">

                      </div>
                    </div>


                  </div>
                </div>
                <div class="col-lg-4 col-6  px-2 changeLang " [class]="dir=='rtl'?'changeLangRTL':''">
                  <div class="d-flex align-items-center justify-content-center h-100 w-100  p-1"
                    (click)="changeLanguage()">
                    <i class="fa fa-globe mx-2"></i>
                    <span class="text-center">{{lang}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-100  my-1 px-1  py-3 h-100">
        <router-outlet></router-outlet>


        <div class="chatDiv" dir="rtl">
          <div class="row d-flex align-items-end ">
            <div class="cc">
              <div class="p-2">
                <div>
                  <i class="fa fa-comment showChatUsers"></i>
                </div>
              </div>
            </div>
            <div class="chatHolderList mx-1">
              <div class="p-2">
                <div class="listUserHold">
                  <div class="close"  dir="ltr">
                    <i class="fa fa-times" (click)="closeUserList()"></i>
                  </div>
                  <div class="mt-4">
                    <ul *ngFor="let chat of chatList">
                      <li (click)="showChatDialog(chat.myAppUserId)">
                        <img class="chatImage" src="../../../assets/images/avatar/ava.png" alt="" srcset="">
                        <span class="chatTitle mx-1">{{chat?.myAppUserId}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="chatDialog mx-1 " >
              <div class="p-2">
                <div class="p-2">
                  <div class="closeChat" dir="rtl">
                    <i class="fa fa-times" (click)="closeChatDialog()"></i>
                  </div>
                  <div class="chatContent" (scroll)="changeBack()">
                    <div class="">
                      <div class="leftUser my-1" dir="ltr">
                        <img class="chatImage" src="../../../assets/images/avatar/ava.png" alt="" srcset="">
                        <span class="chatTitle mx-1">Mahmoud Elwan</span>
                      </div>

                      <div class="rightUser my-1">
                        <img class="chatImage" src="../../../assets/images/avatar/ava.png" alt="" srcset="">
                        <span class="chatTitle mx-1">Mahmoud Elwan</span>
                      </div>
                    </div>

                    <div class="">
                      <div class="leftUser my-1" dir="ltr">
                        <img class="chatImage" src="../../../assets/images/avatar/ava.png" alt="" srcset="">
                        <span class="chatTitle mx-1">Mahmoud Elwan</span>
                      </div>

                      <div class="rightUser my-1">
                        <img class="chatImage" src="../../../assets/images/avatar/ava.png" alt="" srcset="">
                        <span class="chatTitle mx-1">Mahmoud Elwan</span>
                      </div>
                    </div>


                    <div class="">
                      <div class="leftUser my-1" dir="ltr">
                        <img class="chatImage" src="../../../assets/images/avatar/ava.png" alt="" srcset="">
                        <span class="chatTitle mx-1">Mahmoud Elwan</span>
                      </div>

                      <div class="rightUser my-1">
                        <img class="chatImage" src="../../../assets/images/avatar/ava.png" alt="" srcset="">
                        <span class="chatTitle mx-1">Mahmoud Elwan</span>
                      </div>
                    </div>


                    <div class="">
                      <div class="leftUser my-1" dir="ltr">
                        <img class="chatImage" src="../../../assets/images/avatar/ava.png" alt="" srcset="">
                        <span class="chatTitle mx-1">Mahmoud Elwan</span>
                      </div>

                      <div class="rightUser my-1">
                        <img class="chatImage" src="../../../assets/images/avatar/ava.png" alt="" srcset="">
                        <span class="chatTitle mx-1">Mahmoud Elwan</span>
                      </div>
                    </div>


                    <div class="">
                      <div class="leftUser my-1" dir="ltr">
                        <img class="chatImage" src="../../../assets/images/avatar/ava.png" alt="" srcset="">
                        <span class="chatTitle mx-1">Mahmoud Elwan</span>
                      </div>

                      <div class="rightUser my-1">
                        <img class="chatImage" src="../../../assets/images/avatar/ava.png" alt="" srcset="">
                        <span class="chatTitle mx-1">Mahmoud Elwan</span>
                      </div>
                    </div>


                  </div>

                  <div class="chatControl p-2 text-center bg-light" dir="ltr">
                    <div class="row align-items-center">
                      <div class="col-10">
                        <input class="form-control messageInput" type="text" name="" id="">
                      </div>
                      <div class="col-2">
                        <div class="px-2">
                          <i class="fa fa-paper-plane" (click)="sendMessage(chatInstance?.myAppUserId,chatInstance?.userChatId)"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>