<section class="OrderDetailsSec  p-3">


    <div class="sideAlert">
        {{sideMessage}}
    </div>
    <div class="overLay" *ngIf="load">
        <div class="d-flex w-100 h-100 justify-content-center align-items-center">
            <i class="fa fa-spinner fa-5x fa-spin text-light"></i>
        </div>
    </div>



    <div class="text-end w-100">
        <i (click)="closeProductDetailsSec()" class="fa fa-times  ms-auto" aria-hidden="true"></i>
    </div>
    <div class="my-2">
        <form [formGroup]="editOrderForm" (ngSubmit)="editOrderForm.valid && handelEditOrder()">
            <div class="row pe-5">

                <div class="col-12 my-2">
                    <div class="p-2">
                        <div>
                            <p>Order Details</p>
                            <div class="form-group">
                                <textarea type="text" rows="3" formControlName="orderDetails"
                                    class="form-control"></textarea>
                                <div *ngIf="editOrderForm.controls['orderDetails'].errors && editOrderForm.controls['orderDetails'].touched"
                                    class="text-center my-1 xx">
                                    <p>In-valid orderDetails</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 my-2">
                    <div class="p-2">
                        <div>
                            <p>Shipping Address </p>
                            <div class="form-group">
                                <input type="text" formControlName="shippingAddress" class="form-control" />

                                <div *ngIf="editOrderForm.controls['shippingAddress'].errors && editOrderForm.controls['shippingAddress'].touched"
                                    class="text-center my-1 xx">
                                    <p>In-valid shipping address </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 my-2">
                    <div class="p-2">
                        <div>
                            <p>Order Status</p>

                            <div *ngIf="optionSet" class="search_dropdown  text-center">
                                <button (click)="showDropDown()"
                                    class="btn  w-100 search_dropdownMenuButton  search_dropdown_btn" type="button"
                                    id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false"
                                    [ngStyle]="{'background-color': order.orderStatus.color}">
                                    <div class="row align-items-center">
                                        <div class="col-11 text-center">
                                            <span>{{dir=='ltr'?order.orderStatus.nameEn:order.orderStatus.nameAr}}</span>

                                        </div>
                                        <div class="col-1">
                                            <img class="" width="10px"
                                                src="../../../assets/images/Sislimoda/Down_Arrow_3_.svg" alt=""
                                                srcset="">
                                        </div>
                                    </div>
                                </button>
                                <div class="dropdown-menu-list" [ngClass]="{'dropdown-menu-list-RTL': dir=='rtl' }">
                                    <span *ngFor="let option of optionSet.optionSetItems" class="dropdown-item"
                                        (click)="changeOrderStatus(order.id,1,option.color,option.id,option.value,option.nameEn , option.nameAr)">{{dir=='ltr'?option.nameEn:option.nameAr}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="w-100 text-end mt-4 mb-2 ">
                    <button type="submit" class="btn btn-dark px-5 py-2 my-1" [disabled]="editOrderForm.invalid"><span
                            class="px-2">Update</span></button>
                    <button class="btn btn-outline-dark px-5 py-2 ms-2 my-1"
                        (click)="closeProductDetailsSec()">Cancel</button>
                </div>
            </div>

        </form>
    </div>

</section>