@import '../category/category.component.scss';
@import '../../productComponent/add-product/add-product.component.scss';

.displayImageCont{
    position: relative;
}
.trashSection{
    position: absolute;
    top: 5%;
    left: 0;
    right: 5%;
    text-align: right;
    padding: 5px;

}
.trashSection i{
   cursor: pointer;
}