@import '../order-management/order-management.component.scss';
.orderDetailsImage {
    border: 1px solid #646d82;
    height: 150px;
    width: 100%;
    border-radius: 16px;
    padding: 0px 0px ;
}

.orderDetailsImage img {
    height: 130px !important;
    // width: 100% !important;
    margin: auto;
}

span{
    font-size: 13px;
}
p{
    font-size: 13px;
}